@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');

:root{
  --main-color-bg:#F2F1EB;
  --brand-color-bg: #3681E1;
  --color-text-fg: #333;
  --figures-color: #181818;
  --placeholder-color: #9b9b9b;
}
.widget-rh-v legend{
  font-family: 'Roboto', sans-serif;
  font-family: "DM Sans", sans-serif;
}
.widget-rh-v fieldset{
  border: 3px solid #ccc;
  margin-bottom: 1rem;
}
.widget-rh-v legend{
  font-size: 12px;
  float: initial;
  width: auto;
  background-color: var(--brand-color-bg);
  color: #fff;
  padding: 3px 6px;
}
.wrapper-rh-v{
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.widget-rh-v{
  /* box-shadow: 0 5px 15px grey; */
  /* padding: 5px 10px; */
  border-radius: 5px;
  width: 40%;
}
.widget-rh-v .input-wrapper{
  display:flex;
  flex-direction: column;
}
.widget-rh-v .tabs-rh-v{
  display:flex;
  padding:0;
  margin:0;
}
.widget-rh-v .tabs-rh-v li{
  list-style: none;
  background-color: var(--main-color-bg);
  width: 50%;
  text-align: center;
}
.widget-rh-v .tabs-rh-v li a{
  text-decoration: none;
  display: block;
  padding: 0.5rem 2rem;
  color:var(--placeholder-color);;
  border-radius: 5px 5px 0 0;
}
.widget-rh-v .active-tab-rh-V{
  background: var(--brand-color-bg) !important;
  color:white !important;
  border-radius: 5px 5px 0 0;
  /* background: linear-gradient(90deg, rgba(17,69,139,1) 0%, rgba(51,125,228,1) 100%, rgba(255,255,255,1) 100%); */
}
.widget-rh-v .body-tab-HA-v, .widget-rh-v .body-tab-HO-v{
  display:none !important;
}
.widget-rh-v .show-active-tab-v{
  display: flex !important;
}
.widget-rh-v .form-input{
  padding: 1rem;
  border: 3px solid var(--brand-color-bg);
  box-shadow: 0 5px 15px grey;
  
}

/* Text Fields */
.widget-rh-v select {
  cursor: pointer;
  outline: none;
}
.widget-rh-v .form__group {
  position: relative;
  /* padding: 15px 0 0; */
  padding-top: 15px;
  /* margin-top: 10px; */
  /* width: 100%; */
  margin-bottom: 1rem;
}

.widget-rh-v .form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid black;
  outline: 0;
  font-size: 16px;
  color: var(--color-text-fg);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.widget-rh-v .form__field::placeholder {
  color: transparent;
}
.widget-rh-v .form__field:placeholder-shown ~ .form__label {
  font-size: 16px;
  cursor: text;
  top: 20px;
}

.widget-rh-v .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--placeholder-color);;
}

.widget-rh-v .form__field:focus {
  padding-bottom: 6px;
  /* font-weight: 700; */
  border-width: 1px;
  /* border-image: linear-gradient(to right, #11998e, #38ef7d); */
  border-image: black !important;
  opacity: 1;
  border-image-slice: 1;
}
.widget-rh-v .form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  /* transition: 0.2s; */
  font-size: 16px;
  color: var(--brand-color-bg);
  font-weight: 600;
}

/* reset input */
.widget-rh-v .form__field:required, .form__field:invalid {
  box-shadow: none;
}

/* Select Fields */
.widget-rh-v .selectdiv {
  position: relative;
  width: 100%;
  /*Don't really need this just for demo styling*/  
  /* float: left;
  min-width: 200px;
  margin: 50px 33%; */
}

.widget-rh-v .selectdiv label {
  width:100%;
}

.widget-rh-v select::-ms-expand {
display: none;
}

.widget-rh-v .selectdiv:after {
  content: '<>';
  font: 17px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 11px;
  /*Adjust for position however you want*/
  
  top: 18px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;
  /*left line */
  
  position: absolute;
  pointer-events: none;
}

.widget-rh-v .selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  
  display: block;
  width: 100%;
  /* max-width: 320px; */
  height: 50px;
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}

/* Field Icon */
.widget-rh-v .field-icon{
  display: flex;
  height: 50px;
  width: 50px;
  border: 1px solid #cccc;
  border-right:none;
  margin: 5px 0px;
  justify-content: center;
  align-items: center;
  color:var(--figures-color);;
}
.widget-rh-v .dropdown-wrapper{
  display:flex; 
  align-items: center;
  padding-right: 0;
  /* flex-direction:column; */
}
.widget-rh-v .dropdown__field{
  display:flex; 
  flex-direction:row;
  width: 100%;
}
.widget-rh-v .dropdown__field:first-child{
  margin-right: 0.5rem;
}

/* Button Style */

.widget-rh-v .button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
}

.widget-rh-v .post {
  display: flex;
  text-decoration: none;
  color: inherit;
  /* max-width: 400px; */
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem 2rem;
  box-shadow: inset 0 0 0 2px var(--brand-color-bg), inset -4px -4px 0 2px #CCC;
  background-color: #FFF;
  cursor: pointer;
  border:none;
}
.widget-rh-v .post:before {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--brand-color-bg);
  transform-origin: 0 bottom 0;
  transform: scaleY(0);
  transition: 0.4s ease-out;
}
.widget-rh-v .post:hover .post-title {
  color: #FFF;
}
.widget-rh-v .post:hover:before {
  transform: scaleY(1);
}

.widget-rh-v .post-title {
  position: relative;
  font-size: 16px;
  margin: 0;
  color:var(--brand-color-bg);
  font-weight: 700;
  line-height: 1.333;
  transition: 0.4s ease-out;
}

.widget-rh-v .check-in-out{
  display: flex;
  justify-content: center;
  /* border: 2px solid #ccc; */
}
.widget-rh-v .check-in-out:hover{
  background-color: #f5f5f5;
  /* transition: all 1s ease; */
  cursor: pointer;
  border: 1px dashed #ccc;
}
.widget-rh-v .check-in, .widget-rh-v .check-out{
  color:#ccc;
  width: 43%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.widget-rh-v .check-in-label, .widget-rh-v .check-out-label{
  font-weight: bold;
}
.widget-rh-v .check-out-date, .widget-rh-v .check-in-date{
  font-size: 22px;
  color: var(--figures-color);;
}
.widget-rh-v .check-in-out-arrow{
  color: var(--figures-color);;
  width: 14%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.widget-rh-v .body-tab2 .check-in, .body-tab2 .check-out{
  align-items: center;
}
.widget-rh-v .body-tab2 .check-in-out-arrow{
  justify-content: center;
}

/* Modal Popup */
.widget-rh-v .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.widget-rh-v .modal-content {
  /* background-color: #fefefe; */
  background-color: transparent;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  /* border: 1px solid #888; */
  border: none;
  width: 80%; /* Could be more or less, depending on screen size */
}

.litepicker{
  left: 0 !important;
  right: 0 !important;
  margin: auto;
  width: fit-content;
}
.autoComplete_wrapper{
  width: 100% !important;
}
.autoComplete_wrapper>input{
  border-radius: 0 !important;
  /* margin-top: 1rem !important; */
  width: 100% !important;
  border: .05rem solid #ccc !important;
  color: var(--color-text-fg) !important;
  background-image: url('./images/search.svg') !important;
}
.autoComplete_wrapper>input::placeholder{
  color: var(--placeholder-color) !important;
}
.autoComplete_wrapper>input:hover{
  color: var(--color-text-fg) !important;
}

@media (max-width:768px){
  .widget-rh-v{
    width:60%;
  }
  .widget-rh-v .check-in, .check-out{
    align-items: center;
  }
  .widget-rh-v .check-in-out-arrow{
    justify-content:center;
  }
  .widget-rh-v .dropdown-wrapper{  
    /* padding: inherit; */
    padding: 0;
    margin-top: 1rem;
  }
  .widget-rh-v .dropdown-wrapper{
    display: flex;
    flex-direction: column;
  }
  .widget-rh-v .dropdown__field:first-child{
    margin:0;
  }
  .widget-rh-v .button-wrapper{
    padding: initial;
  }
  
}
@media(max-width:480px){
  .widget-rh-v{
    width:80%;
  }
  .widget-rh-v .form__group{
    padding: 0;
    padding-top: 15px;
  }
  .widget-rh-v .post{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .widget-rh-v .tabs-rh-v li a{
    font-size: 14px;
    padding: 0.5rem 1rem;
  }
  .widget-rh-v .check-in, .widget-rh-v .check-out, .widget-rh-v .check-in-out-arrow{
    font-size: 14px;
  }
  .widget-rh-v .check-out-date, .widget-rh-v .check-in-date{
    font-size: 18px;
  }
}